{% extends 'layout' %}
{% block catCreateActive %}
    active
{% endblock %}
{% block content %}
    <h2>Kategória szerkesztése</h2>

    <form class="form-horizontal" method="post" action="">
        {{ csrfField }}
        <div class="form-group">
            <label for="name" class="col-lg-2 control-label">Kategória neve:</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="name" name="name" placeholder="Kategória neve" value="{{ category.name }}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Mégse</button>
                <button type="submit" class="btn btn-primary">Szerkesztés</button>
            </div>
        </div>
    </form>
{% endblock %}