{% extends 'layout' %}
{% block content %}
    {% if category %}
        <div class="jumbotron">
            <p> Kategória: {{ category.name }} </p>
            {% if currentUser %}
            <p align="right">
                <a href="/categories/{{ category.id }}/edit" class="btn btn-default">
                    Kategória átnevezése
                </a>
                <a href="/categories/{{ category.id }}/delete" class="btn btn-danger btnDelete" role="button">
                    Kategória törlése
                </a>
            </p>
            {% endif %}
        </div>
    {% endif %}
    {% if todos.length == 0 %}
        {% if fromSearch %}
        <div class="jumbotron">
            Nem található to-do ilyen névvel!
        </div>
        {% elif noFilter %}
        <div class="jumbotron">
            Nem adtál meg keresési feltételt!
        </div>
        {% else %}
        <div class="jumbotron">
            Ebben a kategóriában nincs egy to-do sem jelenleg!
        </div>
        {% endif %}
    {% endif %}
    {% for todo in todos %}
        <div class="jumbotron">
            <h2> {{ todo.name }} </h2>
            {% if todo.category %}
                <p align="right"> <b>Kategória:</b> {{ todo.category.name }} </p>
            {% endif %}
            <h3> Leírás </h3>
                <pre>{{ todo.instructions }}</pre>
                {% if (currentUser.id == todo.user_id) %}
                <p align="right">
                    {{ csrfField | safe }}
                    <a href="/todos/{{ todo.id }}/edit" class="btn btn-default" role="button"> Szerkesztés </a>
                    <a href="/todos/{{ todo.id }}/delete" class="btn btn-danger btnDelete" role="button"> Törlés </a>
                </p>
                {% endif %}
        </div>
    {% endfor %}
    <div class="modal fade confirm-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
            <div class="modal-body">
                Biztosan törölni szeretnéd?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success modal-ok" data-dismiss="modal">OK</button>
                <button type="button" class="btn btn-danger modal-cancel" data-dismiss="modal">Mégse</button>
            </div>
            </div>
        </div>
    </div>
{% endblock %}