{% extends 'layout' %}

{% block content %}
    {% for todo in todos %}
        <div class="jumbotron">
            <h2> {{ todo.name }} </h2>
                <p> {{ todo.category.name }} </p>
            <h3> Leírás </h3>
                <pre>{{ todo.instructions }}</pre>
            <p align="right"> <a>Szerkesztés</a> | <a>Törlés</a> </p>
        </div>
    {% endfor %}
{% endblock %} 